<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Кинопоиск. Книги</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/scrollbar.css">
    {% include 'hunk.header.link.html' %}
    {% block head %}
    {% endblock %}
  </head>
  <body class="body">
    {% include 'hunk.header.html' %}
    {% block body %}
    {% endblock %}
  </body>
</html>
