/* Основное CSS оформление */

@font-face { /* TODO: Лицензия на шрифт */
  font-family: 'Clear Sans Bold';
  src: url(clearsansbold.ttf);
}

body {
  background-color: #141414;
}

.flexbox {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
}

.display-none {
  display: none;
}
