/* Полосочка прокрутки справа или снизу */
body::-webkit-scrollbar {
  width: 1em;
  height: 1em;
}

body::-webkit-scrollbar-track {
  background: #282828;
}

body::-webkit-scrollbar-thumb {
  background-color: #181818;
  border-radius: 0.2em;
  border: 0.05em solid #282828;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #141414;
}
