/* Основное CSS оформление */

@font-face { /* TODO: Лицензия на шрифт */
  font-family: 'Clear Sans Bold';
  src: url(/static/fonts/clearsansbold.ttf);
}

body {
  background-color: #141414;
}

.flexbox {
  display: flex;
}

.display-none {
  display: none;
}
