<!-- Выдвигающаяся полосочка с разделами в самом верху -->
<div class="header">
  <hr class="shadowline" />
  <a href="/">
  <div class="chapter">
    Книги
  </div></a>
  <div class="chapter">
    Новинки
  </div>
  <div class="chapter">
    Главная
  </div>
  <div class="chapter">
    Разделы
  </div>
  <div class="chapter">
    Подборки
  </div>
  <div class="chapter">
    Отложенное
  </div>
  <div class="chapter">
    Медиа
  </div>
  <div class="chapter">
    Поиск
  </div>
  <div class="chapter">
    Профиль
  </div>
  <hr class="headerline" />
</div>
